.bubble-Beruflich {
    background-color: #4D5876;
}

.bubble-Ausbildung {
    background-color: #698C5C;
}

.color-Beruflich {
    color: #4D5876;
}

.color-Ausbildung {
    color: #698C5C;
}

.timeline-scroll {
    overflow-x: scroll;
    width: 100%;
}

.timeline-overwidth {
    width: 130%;
    background-color: white;
}

/* -- Styles -- */
.navbar {
    background-color: #5C698C!important;
    color: #f7f7f8!important;
}

.ios .navbar {
    color: #f7f7f8!important;
}

.md .toolbar {
    background-color: #5C698C!important;
}

.no-link-icon {
    background-image: none!important;
}

.fa {
    font-size: 25px!important;
}

.icon {
    width: 25px;
}

.list .progressbar {
    width: 80%;
    margin: -10px 16px 0 16px;
    background: #ced2dc;
}

.progressbar span {
    background: #4D5876!important;
}

img {
    max-width: 100%;
}

/* -- */