{{#vita}}
<div class="row">
    <div class="col-33">
        <img src="./data/images/profil-{{@root.pic}}.jpg" class="margin elevation-1"/>
    </div>
    <div class="col-66 list no-hairlines margin-top no-margin-bottom">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                            {{vorname}} {{nachname}}
                            <div class="item-footer">
                               {{familienstand}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-birthday-cake"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">
                            {{geburtstag}}
                            <div class="item-footer">
                               {{geburtsort}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">
                            {{adresse.strasse}} {{adresse.nummer}}
                            <div class="item-footer">
                               {{adresse.plz}} {{adresse.stadt}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="list no-hairlines">
    <ul>
        {{#each kontakte}}
        <li>
            <a href="{{link}}" class="item-link external">
                <div class="item-content">
                    <div class="item-media">
                        {{#if icon}}<i class="f7-icons">{{icon}}</i>{{/if}}
                        {{#if fa_icon}}<i class="fa fa-{{fa_icon}}"></i>{{/if}}
                        {{#if img}}<i class="icon">
                            <img src="{{img}}" />
                        </i>{{/if}}
                    </div>
                    <div class="item-inner no-link-icon">
                        <div class="item-title">
                            {{text}}
                        </div>
                    </div>
                    <div class="item-after padding-right">
                        {{beschreibung}}
                    </div>
                </div>
            </a>
        </li>
        {{/each}}
    </ul>
</div>
{{/vita}}