<div class="list">
    {{#each faehigkeiten}}
    <div class="list-group">
        <ul>
            <li class="list-group-title">{{titel}}</li>
            {{#each liste}}
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">
                        <!-- Item header, must be first child of item-title -->
                            {{titel}}
                            <!-- Item footer, must be last child of item-title -->
                            <div class="item-footer">
                            </div>
                        </div>
                        <div class="item-after">{{beschreibung}}</div>
                    </div>
                </div>
                <span data-progress="15" class="progressbar" id="progress-{{js "this.titel.replaceAll(' ','')"}}"></span>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>