<div class="timeline-scroll">
    <div id="timesheet"></div>
</div>
<div class="list accordion-list">
    <ul>
        {{#each lebenslauf}}
        <li class="accordion-item">
            <a href="" class="item-link item-content">
                {{#if icon}}
                <div class="item-media">
                    <i class="fa fa-{{icon}} color-{{titel}}"></i>
                </div>
                {{/if}}
                <div class="item-inner">
                    <div class="item-title">{{titel}}</div>
                </div>
            </a>
            <div class="accordion-item-content">
                <div class="timeline">
                    {{#each abschnitte}}
                    <div class="timeline-item">
                        <div class="timeline-item-date">{{#if start}}{{#unless ende}}<small>seit </small>{{/unless}}{{start}}{{#if ende}}<small> bis </small>{{ende}}{{/if}}{{else}}{{zeit}}{{/if}}</div>
                        <div class="timeline-item-divider bubble-{{../titel}}"></div>
                        <div class="timeline-item-content">
                        <div class="timeline-item-inner">
                            <div class="timeline-item-time">{{firma}}{{institut}}</div>
                            <div class="timeline-item-title">{{position}}{{abschluss}}</div>
                            <div class="timeline-item-subtitle"></div>
                            <div class="timeline-item-text">
                                {{beschreibung}}
                                <div>
                                    <ul style="list-style: circle;">
                                        {{#each liste}}
                                        <li>
                                            <small>{{this}}</small>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{#if note}}
                                <div class="card card-outline">
                                    <div class="card-footer">Abschlussnote: {{note}}</div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>